.d-grid gap-3 {
  padding: 3%;
}
.form-group {
  margin-bottom: 30px;
  align-content: center;
  padding: 2rem;
  border: 5px solid rgb(246, 242, 245);
  border-radius: 10px;
  margin: 5rem;
  background-color: #ece6ec;
  text-align: center;
  margin-left: 35%;
  margin-top: 10%;
  width: 30%;
  box-sizing: border-box;
  outline: "1px solid black";
}
.Login-form {
  border: 1px solid black;
  padding: 20px;
}


