.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* change height to min-height */
  padding: 1rem;
  position: relative;
}

.Login-form {
  background-color: #e0dddd;
  width: 400px;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 0px;
  padding: 0rem;
}

/* Add this code to position the form at the top of the container */
@media only screen and (max-width: 767px) {
  .container {
    align-items: flex-start;
  }
}
.form-btn {
  background-color: green;
  border-radius: 5px;
  width: 100px;
  align-items: center;
  align-content: center;
  display: block;
  margin: 0 auto;
}
.form-label + .form-label {
  margin-top: 0.5rem;
}
.form-heading {
  align-items: center;
  align-content: center;
  display: block;
  margin: 0 auto;
  text-align: center;
}
