.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: #3588da;
  color: #4343de;
  z-index: 1;
}

.navbar-list li {
  display: inline-block;
}

.navbar-list li a {
  color: #f8f4f4;
  text-decoration: none;
}

.mb-7 {
  row-gap: 400px;
  margin-right: 50px;
}
.container-fluid img {
  margin-top: -0.25rem !important;
  width: 80px;
  height: 80px;
}
.text-secondary {
  margin: left 10px;
  gap: 10px;
  padding-right: 10%;
}
.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 10px 5px;
}
