.Aboutus{
    text-align: center;
    color: blue;
    background-color: rgb(89, 37, 138);
    max-width: 1000px;
    margin-bottom: auto;
    padding-bottom: 6000px;
    height: 400px;
}
.center{
    text-align: justify;
    text-align: center;
}
.billu{
border-image-width: 60px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
}
#about_container{
    margin-top: 150px;
}