.billuu{
    height: 700%;
    width: 700%;
    margin: center;
    padding: center;
    background-size: cover;
    position: relative;
    vertical-align: baseline;
}  
.billu, h1{
    text-align:left;

}
.billu,
h1 {
  text-align: center;
}
#you {
  align-items: left;
  border-image-width: 600px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 150px;
  border-radius: 25px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; /* updated */
  margin-top: 20px;
}
  
  .card {
    width: 24%;
    margin: 10px;
 
      height: 450px;
    }
    
  
  .search-btn {
    float: right;
    
  }
  .header-container input[type="text"] {
    border: 2px solid #333;
  }
  input[type="text"] {
    border: 2px solid #333;
  }
  /* styles.css */
.btn-small {
  font-size: 14px;
  padding: 5px 10px;
  min-width: 80px;
  max-width: 150px;
}
