.billlu {
  height: 700%;
  width: 100%;
  margin: center;
  padding: center;
  background-size: cover;
  position: relative;
  vertical-align: baseline;
  margin-left: 0px;
}

.billu,
h1 {
  text-align: center;
}

#you {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 800px;
  border-radius: 25px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; /* updated */
  margin-top: 20px;
}

.card-hall {
  width: 400px !important;
  height: 500px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.card-hall:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 200%;
  height: 500px;
  object-fit: cover;
}

.card-body {
  font-size: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 20px !important;
  margin-bottom: 50px;
}
.Title {
  text-align: center;
  margin-right: 350px;
}
