.billuu{
    height: 700%;
    width: 700%;
    margin: center;
    padding: center;
    background-size: cover;
    position: relative;
    vertical-align: baseline;
}  
.billu, h1{
    text-align:center;

}
#you{
    align-items: left;
    border-image-width: 600px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 150px;
    border-radius: 25px;
    
    
}


