.Login-form {
  max-width: 360px;
  margin: 90px;
  padding: 5px;
}
.Login-form label {
  display: block;
  margin: 30px;
}
.Login-form span {
  display: block;
  margin-bottom: 4px;
}
.Login-form input {
  padding: 4px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
.Login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(252, 253, 253);
}

.Login-form {
  width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.Login-form {
  border: 1px solid black;
  padding: 20px;
}
.Form {
  text-align: center;
}
